
# Ignore everything
build/
README.rst
.vscode/
.west/
zephyr/
.DS_Store
sample.yaml
build-DomoticaSerial-Qt_6_5_3_for_macOS-Debug/
# But not these files...
!.gitignore
!CMakeLists.txt
!prj.conf


# ...and not these folders...
!/src/
!boards/

